

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(237, 253, 237);
}

a {
    text-decoration: none;
   
}

a:hover {
    text-decoration:underline;

}
a:visited {
    color: inherit;
}

li{
    list-style: none;
}

ul {
    line-height: 50px;
    
}

.navbar {
    display:flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.afd{
    width:100px;
}
.logo {
    color:rgb(32, 204, 135);
    font-family:'Nunito','Courier New', Courier, monospace;
    font-size: 2rem;
    padding-left: 15px;
    

}
.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}
button {
    padding: 7px 10px 7px 10px;
    background-color: rgb(230, 255, 230);
    border: solid rgb(21, 42, 35) 1px;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
    cursor: pointer;

}

button:hover {
    background-color: rgb(32, 204, 135);
    color:white;
}
.sign {
    background-color: rgb(32, 204, 135);
    color:white;

}

.sign:hover {
    background-color: rgb(138, 210, 182);

    
}
.headings {
    text-align: center;
    font-size: 1.75rem;
    font-family: Barlow;
    color:rgba(0, 0, 0, 0.789);
    padding: 20px;
}
#greyed-out {
    text-align: center;
    font-size: 2rem;
    font-family: Barlow;
    color:rgba(92, 90, 90, 0.397);
    padding:10px;
}

.card-container {
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    flex-wrap: wrap;
}
.cards {
    padding:50px;
    border: 1px solid;
    margin:20px;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
    

}

.cards:hover {
    background-color: rgb(246, 255, 246);
    box-shadow: 5px 5px 50px;
    cursor: pointer;
}

.card-title {
    padding:20px;
    font-family: Work Sans;
    font-size: 1.5rem;
    color: rgb(32, 204, 135);
    
}
.card-list {
    font-family: Roboto;
    color: rgb(14, 94, 62);
    
}


.foot-container {
    min-height: 30vh;
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding-top: 20px;
    background-color: rgb(59, 154, 100);
    font-size: 1rem;
    font-family: Roboto;
    

}
.right {
    align-items: center;
    display:flex;
    justify-content:end;
    gap: 7rem;
    padding-inline: 3rem;
    
}
.left {
    display:flex;
    justify-content:end;
    padding-inline: 3rem;
}
.space {
    height:10vh;
}
.list-heading {
    color: rgb(0, 76, 45);
    font-size: 1.5rem;
    text-decoration: underline;

}

@media only screen and (max-width: 480px) {
    .navbar {
        display:flex;
        padding:20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .logobox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:30px;
    }

    .foot-container {
        min-height: 20vh;
        display:flex;
        justify-content:space-between;
        background-color: rgb(59, 154, 100);
        font-size: 1rem;
        font-family: Roboto;
    }
    .right {
        display:flex;
        justify-content:center;
        gap: 1rem;
        padding-inline: 1rem;
    }
    .left {
        display:flex;
        justify-content:center;
        padding-inline: 1rem;
        gap: 1rem;
    }
    .list-heading {
        color: rgb(0, 76, 45);
        font-size: 1rem;
        text-decoration: underline;
    
    }


}